{% assign has_pages = false %}
{% for item in site.posts %}
   {% for tag in item.tags %}
      {% if tag == page.title or tag == page.my_tag %}
         {% assign has_pages = true %}
      {% endif %}
   {% endfor %}
{% endfor %}

{% if has_pages == true or page.show_all_related_items == true %}
<h3>Events</h3>
<ul style="column-count: 3" >
   {% for item in site.posts %}
      {% assign show_item = false %}
      {% for tag in item.tags %}
         {% if tag == page.title or tag == page.my_tag %}
            {% assign show_item = true %}
         {% endif %}
      {% endfor %}
      {% if show_item == true or page.show_all_related_items == true %}
<li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }} - {{ item.date }}</a></li>
      {% endif %}
   {% endfor %}
</ul> <hr>
{% endif %}
