---
layout: page
---
<hr>

{{ content }}

<ul style="column-count: 3" >
{% for item in site.[page.which_collection] %}
  <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
{% endfor %}
</ul>

<hr>

